.registro-ponto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.botoes-centrais {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaçamento entre os botões e os campos de seleção */
}

.botao-entrada, .botao-saida {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 0 10px;
}

.botao-entrada {
  background-color: green;
}

.botao-saida {
  background-color: red;
}

.botao-entrada:hover, .botao-saida:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

select {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

.label-selecionar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento entre os campos de seleção e os botões */
}

.historia-registros {
  margin-top: 40px; /* Espaçamento entre a história dos registros e os botões */
}

h3 {
  text-align: center;
}

/* RelatorioPonto.css */

.historico-registros {
    padding: 20px;
  }
  
  .relatorio-ponto-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .relatorio-ponto-container label {
    margin-right: 10px;
  }
  
  .relatorio-ponto-container .registro-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .relatorio-ponto-container .registro-table th,
  .relatorio-ponto-container .registro-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .relatorio-ponto-container .registro-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .relatorio-ponto-container .registro-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .relatorio-ponto-container .registro-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  /* Estilos padrão */
body {
    background-color: #fff;
    color: #333;
  }
  
  /* Classe para o tema escuro */
  .dark-theme {
    background-color: #333;
    color: #fff;
  }

  .relatorio-ponto-container {
    padding: 20px;
  }
  
  .filtros-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filtros-container > div {
    display: flex;
    flex-direction: column;
  }
  
  .botao-pesquisar {
    align-self: flex-end;
    padding: 5px 10px;
    margin-top: 18px;
  }
  
  .botao-xml {
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  
  .registro-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .registro-table th, .registro-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .registro-table th {
    background-color: #f2f2f2;
  }
  
  .botao-pesquisar {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none;
    color: white; /* Cor do texto branca */
    padding: 8px 16px; /* Reduzindo o padding interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remoção do sublinhado padrão */
    display: inline-block;
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    border-radius: 6px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; /* Transições suaves */
  }
  
  .botao-pesquisar:hover {
    background-color: #45a049; /* Cor de fundo verde mais escura ao passar o mouse */
    transform: translateY(-1px); /* Efeito de levantamento sutil */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada ao passar o mouse */
  }
  
 